@model IEnumerable<EKInvAFsemp.Common.Classes.Models.Marcas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActInac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMarca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActInac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMarca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMarca }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMarca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMarca })
        </td>
    </tr>
}

</table>
